@charset "utf-8";@import url(http://fonts.googleapis.com/css?family=Hind:400,300,600,500,700);@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,700);body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Hind,Arial,sans-serif;
    background-image: url(../imgs/binding_dark.png)
}

.activo {
    color: #fff!important;
    cursor: default
}

:focus {
    outline: 0
}

h1 {
    width: 98%;
    font-size: 26px;
    color: #a6a6a6;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px 3%;
    margin-bottom: 0;
    text-align: left
}

h2 {
    width: 300px;
    margin: 32px 34px;
    padding: 0;
    color: #f04652;
    font-family: 'Exo 2',Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 24px
}

div.loader {
    width: 32px;
    height: 32px;
    background-image: url(../imgs/ajax-loader.gif);
    position: absolute;
    top: 45%;
    left: 49%
}

div.rotar {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    background-image: url(../imgs/rotar.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    z-index: 15000;
    display: none
}

div.negro {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 1420;
    opacity: .9;
    display: none
}

div.contenedor {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.2);
    position: relative;
    overflow: hidden
}

div.contenedor div.banner {
    position: relative;
    margin-top: 52px;
    margin-bottom: 10px;
    display: none
}

div.contenedor div.banner div.cerrar {
    background-color: #000;
    color: #ef4653;
    border: 1px solid #ef4653
}

div.contenedor div.banner div.img {
    width: 100%;
    background-color: #000
}

div.contenedor div.banner div.img.mobile {
    display: none
}

div.contenedor header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: none;
    box-shadow: 0 3px 10px rgba(0,0,0,.6)
}

div.contenedor header div.logo {
    width: 130px;
    height: 50px;
    background-color: rgba(0,0,0,.95);
    background-image: url(../imgs/sprite4.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: -20px 5px;
    float: left;
    border-bottom: 1px solid #242424;
    cursor: pointer
}

div.contenedor header div.btnMenu {
    width: 45px;
    height: 45px;
    background-image: url(../imgs/sprite4.svg);
    background-size: 560px;
    background-repeat: no-repeat;
    background-position: -91px -145px;
    position: fixed;
    bottom: -100px;
    right: 15px;
    cursor: pointer;
    z-index: 11000;
    border-radius: 100px;
    box-shadow: 0 0 25px #000
}

div.contenedor header nav {
    width: calc(100% - 135px);
    background-color: #e84450;
    background: rgba(0,0,0,.95);
    margin-left: 5px;
    float: left;
    border-bottom: 1px solid #242424;
    overflow: hidden
}

div.contenedor header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #7d7d7d;
    text-transform: uppercase;
    font-weight: 300
}

div.contenedor header nav ul li {
    float: left;
    font-size: 15px;
    padding: 13px 17px;
    cursor: pointer;
    border-left: 1px solid #000;
    font-weight: 600
}

div.contenedor header nav ul li:hover {
    color: #ddd
}

div.contenedor header nav ul li.sel {
    background-color: #161616;
    border-bottom: 1px solid #ef4653
}

div.contenedor ul li.tienda {
    color: #ef4653;
    padding: 3px 13px;
    margin: 10px 0;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #1f1f1f
}

div.contenedor ul li.tienda:hover {
    color: #000;
    background-color: #b39400
}

div.contenedor header div.redes {
    position: absolute;
    right: 10px;
    top: 11px;
    text-align: right;
    display: inline-flex
}

div.contenedor header div.redes a {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block
}

div.contenedor header div.redes a.facebook:hover {
    color: #4267b2
}

div.contenedor header div.redes a.yutu:hover {
    color: #ec2a2a
}

div.contenedor header div.redes a.insta:hover {
    color: #ddbb1a
}

div.contenedor header div.redes a.spoti:hover {
    color: #12af2f
}

.face {
    position: absolute;
    top: 220px;
    left: 88px
}

div.contenedor section#intro {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #000;
    border-bottom: 25px solid #000
}

div.contenedor section#intro div.control {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 46%;
    z-index: 1450;
    opacity: .4;
    border-radius: 100px;
    background-image: url(../imgs/sprite4.svg);
    background-size: 400px;
    background-position: -146px -94px;
    background-color: rgba(0,0,0,.9);
    cursor: pointer;
    border: 1px solid #ddd
}

div.contenedor section#intro div.control:hover {
    opacity: .8
}

div.contenedor section#intro div.control#ant {
    left: 20px;
    display: none
}

div.contenedor section#intro div.control#sig {
    background-position: -182px -94px;
    right: 20px
}

div.contenedor section#intro div.slide {
    width: 1280px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1400
}

div.contenedor section#intro div.slide div.conte {
    float: left;
    overflow: hidden
}

div.contenedor section#intro div.slide div.conte div.fuente {
    position: absolute;
    top: 560px;
    background-color: rgba(0,0,0,.9);
    padding: 8px 9px;
    font-size: 12px;
    color: #6c6c6c
}

.jwlogo {
    display: none!important
}

div.contenedor section#fechas {
    width: 100%;
    height: 530px;
    position: relative;
    background-image: url(../imgs/background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px 0;
    display: none
}

div.contenedor section#fechas div.proxima {
    width: 45%;
    height: 450px;
    background-color: rgba(0,0,0,.6);
    border: 1px solid #bb4b53;
    margin: 20px 3%;
    margin-right: 0;
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: 5px
}

div.contenedor section#fechas div.proxima div.titu {
    width: 105px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    color: #919191;
    background-image: url(../imgs/sprite4.svg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: -238px -95px;
    float: left
}

div.contenedor section#fechas div.proxima a.entrada {
    width: 90px;
    margin: 20px 20px;
    font-size: 20px;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    color: #919191;
    float: right;
    padding: 15px 70px;
    padding-left: 10px;
    background-image: url(../imgs/sprite4.svg);
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: 70px -124px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid #363636
}

div.contenedor section#fechas div.proxima a.entrada:hover {
    background-color: #000
}

div.contenedor section#fechas div.proxima div.dia {
    width: 80px;
    margin: 14px -14px;
    margin-bottom: 0;
    padding: 8px 2px;
    background-color: #ef4653;
    font-size: 29px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    float: left;
    line-height: .9;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 400;
    border-radius: 3px
}

div.contenedor section#fechas div.proxima div.dia span {
    font-size: 12px
}

div.contenedor section#fechas div.proxima div.detalles {
    width: 85%;
    min-height: 89px;
    margin: 0 20px;
    padding: 10px 10px;
    float: left;
    background-color: #000
}

div.contenedor section#fechas div.proxima div.detalles div.lugar {
    text-transform: uppercase;
    color: #f04652;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.2
}

div.contenedor section#fechas div.proxima div.detalles div.desc {
    font-size: 13px;
    color: #919191
}

div.contenedor section#fechas div.proxima div#map {
    width: 90%;
    height: 190px;
    margin: 20px;
    float: left
}

div.contenedor section#fechas div.listaFe {
    width: 45%;
    height: 450px;
    background-color: rgba(0,0,0,.6);
    border: 1px solid #232323;
    border-left: 0;
    border-right: 0;
    margin: 20px 4%;
    margin-left: 0;
    float: right;
    overflow: hidden;
    position: relative
}

div.contenedor section#fechas div.listaFe div.fec {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #232323;
    padding: 10px 0
}

div.contenedor section#fechas div.listaFe div.fec {
    width: 100%;
    min-height: 80px;
    position: relative
}

div.contenedor section#fechas div.listaFe div.fecDia {
    width: 60px;
    padding: 15px 10px;
    background-color: #000;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    border: 1px solid #363636;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px
}

div.contenedor section#fechas div.listaFe div.fecDia span {
    font-size: 9px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block
}

div.contenedor section#fechas div.listaFe div.textos {
    width: 80%;
    display: inline-block;
    margin-left: 115px;
    margin-top: 2px
}

div.contenedor section#fechas div.listaFe div.textos div.lugar {
    width: 100%;
    text-transform: uppercase;
    color: #f04652;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    display: inline-block
}

div.contenedor section#fechas div.listaFe div.textos div.desc {
    width: 75%;
    font-size: 13px;
    color: #919191
}

div.contenedor section#fechas div.listaFe div.textos a.entra {
    width: 60px;
    height: 60px;
    font-size: 14px;
    background-color: #181818;
    background-image: url(../imgs/sprite4.svg);
    background-size: 520px;
    background-position: -83px -726px;
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 3px
}

div.contenedor section#videos {
    width: 100%;
    height: 515px;
    padding: 10px 0;
    background-color: #000;
    display: none
}

div.contenedor section#videos div.player {
    width: 59%;
    float: left;
    margin: 10px 3%;
    margin-right: 0;
    padding: 20px;
    background-color: #161616;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

div.contenedor section#videos div.listado {
    width: 31.5%;
    height: 440px;
    float: left;
    margin: 10px 0;
    background-color: #000;
    overflow: auto;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

div.contenedor section#videos div.listado ul {
    width: 98%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}

div.contenedor section#videos div.listado ul li {
    width: 90%;
    padding: 10px 25px;
    padding-right: 0;
    border-bottom: 1px solid #1c1c1c;
    cursor: pointer;
    text-transform: uppercase;
    color: #7a7a7a;
    line-height: 1.3;
    font-family: Hind,Arial,sans-serif
}

div.contenedor section#videos div.listado ul li:hover {
    background-color: #090909
}

div.contenedor section#videos div.listado ul li.activado {
    color: #fff!important;
    background-color: #161616;
    border-bottom: 1px solid #f14651;
    background-image: url(../imgs/sprite4.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: -47px -161px;
    padding-left: 40px
}

div.contenedor section#fotos {
    width: 100%;
    height: 650px;
    position: relative;
    padding: 20px 0;
    display: none
}

div.contenedor section#fotos div.conteSelect {
    width: 70%;
    position: absolute;
    top: 24px;
    left: 130px
}

div.contenedor section#fotos select {
    min-width: 250px;
    position: absolute!important;
    top: 0;
    left: 15px;
    background-color: rgba(0,0,0,.51);
    padding: 5px;
    font-family: Hind,Arial,sans-serif;
    color: #b19717;
    border: 0;
    line-height: 1.5;
    font-size: 22px;
    text-transform: uppercase
}

div.contenedor section#fotos div.autor {
    width: 80%;
    position: absolute;
    top: 78px;
    left: 139px;
    color: #727272;
    font-family: Hind,Arial,sans-serif;
    font-size: 15px;
    text-transform: uppercase
}

div.contenedor section#fotos div.autor span {
    color: #fff
}

div.contenedor section#fotos div.galeria {
    width: 91%;
    margin: 0 3%;
    height: 500px;
    background-color: #000;
    margin-top: 50px;
    overflow: auto;
    padding: 2%;
    border-radius: 5px;
    moz-box-shadow: 0 -8px 47px #000 inset;
    webkit-box-shadow: 0 -8px 47px #000 inset;
    box-shadow: 0 -8px 47px #000 inset
}

div.contenedor section#fotos div.galeria figure {
    width: 24.2%!important;
    margin: 0;
    margin-right: 6px;
    padding: 0;
    border: 0;
    float: left
}

div.contenedor section#fotos div.galeria figure img {
    width: 100%
}

div.contenedor section#informacion {
    width: 100%;
    min-height: 400px;
    background-color: rgba(0,0,0,.7);
    padding: 15px 0;
    border-top: 1px solid #f04652;
    overflow: hidden;
    position: relative;
    display: none
}

div.contenedor section#informacion div.tablero {
    width: 95%;
    margin: 10px 2.5%;
    position: relative
}

div.contenedor section#informacion div.tablero div.info {
    width: 27%;
    padding: 2%;
    margin: 10px 2%;
    margin-left: 0;
    background-color: #111;
    font-family: 'Exo 2',Arial,sans-serif
}

div.contenedor section#informacion div.tablero div.info div.fecha,div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles div.fecha {
    width: 100%;
    font-size: 15px;
    color: #717171;
    margin-bottom: 10px
}

div.contenedor section#informacion div.tablero div.info div.fecha span,div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles div.fecha span {
    font-size: 12px;
    background-color: #f04652;
    color: #000;
    border-radius: 3px;
    font-size: 11px;
    padding: 4px 9px;
    margin-left: 10px
}

div.contenedor section#informacion div.tablero div.info div.titulo,div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles div.titulo {
    width: 100%;
    font-size: 19px;
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2
}

div.contenedor section#informacion div.tablero div.info div.texto,div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles div.texto {
    width: 100%;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
    line-height: 1.5;
    font-weight: 200
}

div.contenedor section#informacion div.tablero div.info a,div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles a {
    color: #ddbb1a;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 5px 26px;
    background-image: url(../imgs/sprite4.svg);
    background-position: -58px -262px;
    background-repeat: no-repeat;
    background-size: 330px
}

div.contenedor section#informacion div.tablero div.info button.verMas {
    background-color: #000;
    border: 0;
    padding: 8px 10px;
    border-radius: 3px;
    color: #e9444f;
    cursor: pointer;
    font-size: 12px
}

div.contenedor section#informacion div.tablero div.info button.verMas:hover {
    color: #fff;
    background-color: #f14651
}

div.contenedor section#informacion div.tablero div.new {
    background-color: #3a181b
}

div.contenedor section#informacion div.tablero div.new div.fecha {
    color: #ef4652
}

div.contenedor section#informacion div.tablero div.pop {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1420;
    display: none
}

div.contenedor section#informacion div.tablero div.pop div.contenidos {
    background-color: #000;
    width: 95%;
    height: 95%;
    margin: 2.5%;
    border: 1px solid #212121;
    display: none;
    overflow: hidden
}

div.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f04652;
    color: #000;
    border-radius: 100px;
    padding: 6px 12px 4px 12px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    z-index: 600
}

div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles {
    width: 40%;
    height: 100%;
    float: left;
    margin: 2.5%;
    overflow: auto
}

div.contenedor section#informacion div.tablero div.pop div.contenidos div.detalles img {
    float: left;
    max-width: 710px;
    margin-top: 10px
}

div.contenedor section#informacion div.tablero div.pop div.contenidos iframe {
    width: 54%;
    float: right
}

div.contenedor section#informacion div.verInfos {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 10px 0;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #b33942;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 1430;
    font-size: 12px;
    box-shadow: 0 -10px 27px #000;
    display: none
}

div.contenedor section#discos {
    width: 100%;
    height: 550px;
    padding: 20px 0;
    display: none
}

div.contenedor section#discos div.disco {
    width: 97%;
    min-height: 500px;
    margin: 10px 3%;
    padding: 20px 0;
    padding-top: 10px
}

div.contenedor section#discos div.disco select#listaDiscos {
    background-color: rgba(0,0,0,0);
    border: 0;
    margin-bottom: 30px;
    padding: 0;
    color: #d1b83e;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    font-size: 20px
}

div.contenedor section#discos div.disco select span {
    font-size: 13px;
    color: #fff
}

div.contenedor section#discos div.disco div.imagen {
    width: 34%;
    margin-top: 10px;
    float: left
}

div.contenedor section#discos div.disco div.imagen img {
    border-radius: 8px;
    box-shadow: 0 0 40px #000;
    webkit-box-shadow: 0 0 40px #000;
    moz-box-shadow: 0 0 40px #000;
    box-shadow: 0 0 40px #000;
    border: 1px solid #242424
}

div.contenedor section#discos div.disco div.datos {
    width: 62%;
    float: right;
    position: relative;
    overflow: hidden
}

div.contenedor section#discos div.disco div.datos ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px
}

div.contenedor section#discos div.disco div.datos ul li {
    float: left;
    padding: 9px 16px;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #000
}

div.contenedor section#discos div.disco div.datos ul li:hover {
    background-color: rgba(130,130,130,.14)
}

div.contenedor section#discos div.disco div.datos ul li.select {
    background-color: #000;
    color: #f04652;
    cursor: default
}

div.contenedor section#discos div.disco div.datos div.textos {
    width: 90%;
    max-height: 390px;
    float: left;
    font-size: 12px;
    padding: 10px 2%;
    background-color: rgba(0,0,0,.3);
    margin-top: 10px;
    position: relative;
    overflow: hidden
}

div.contenedor section#discos div.disco div.datos div.textos div.temas {
    width: 50%;
    height: 380px;
    overflow: auto
}

div.contenedor section#discos div.disco div.datos div.textos div.temas div.tema {
    width: 90%;
    padding: 10px 4%;
    border-bottom: 1px solid #2e2e2e;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    float: left
}

div.contenedor section#discos div.disco div.datos div.textos div.temas div.temaon {
    background-color: #000;
    border-left: 3px solid #f04952
}

div.contenedor section#discos div.disco div.datos div.textos div.letra {
    width: 42%;
    height: 327px;
    padding: 4%;
    padding-top: 25px;
    padding-right: 1%;
    background-color: #000;
    float: right;
    overflow: auto;
    font-size: 13px
}

div.contenedor section#discos div.disco div.datos div.textos div.letra div.cerrar {
    display: none
}

div.contenedor section#discos div.disco div.datos div.textos div.letra p.tit {
    font-size: 15px
}

div.contenedor section#discos div.disco div.datos div.textos div.letra p.des {
    color: #a2484f
}

div.contenedor section#discos div.disco div.datos div.textos div.tema:hover {
    background-color: rgba(255,255,255,.05)
}

div.contenedor section#discos div.disco div.datos div.textos div.tema button {
    width: 25px;
    height: 24px;
    background-color: rgba(42,42,42,0);
    border: 0;
    margin-left: 10px;
    background-image: url(../imgs/sprite4.svg);
    background-position: -82px -82px;
    background-repeat: no-repeat;
    background-size: 200px
}

div.contenedor section#discos div.disco div.datos div.ficha {
    width: 86%;
    height: 378px;
    font-size: 12px;
    padding: 10px 4%;
    padding-right: 2%;
    background-color: rgba(6,6,6,1);
    position: absolute;
    top: 64px;
    left: 0;
    overflow: auto;
    font-size: 15px;
    font-weight: 200;
    color: #d9d9d9;
    z-index: 900;
    display: none
}

.select2-container {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0);
    font-family: 'Exo 2',Arial,sans-serif;
    font-weight: 200;
    font-size: 20px
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 1px solid #454545;
    border-radius: 3px;
    height: 45px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    color: #f14651;
    background-color: rgba(0,0,0,.4)
}

.select2-dropdown {
    background-color: #1b1b1b;
    border: 1px solid #454545;
    border-radius: 3px;
    color: #fff;
    font-size: 15px
}

.select2-search--dropdown .select2-search__field {
    background-color: transparent;
    border: 1px solid #454545;
    color: #fff
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 7px
}

.select2-container--default .select2-results__option[aria-selected=true] {
    color: #f14651;
    background-color: #000
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f14651;
    color: #fff
}

div.contenedor section#contacto {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../imgs/background2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -25px;
    padding: 10px 0;
    display: none
}

div.contenedor section#contacto iframe {
    width: 45%;
    height: 430px;
    position: absolute;
    top: 70px;
    right: 45px;
    background-color: rgba(17,17,17,.8);
    padding: 2%;
    border-radius: 8px
}

div.formu {
    width: 100%;
    font-family: 'Exo 2',Arial,sans-serif
}

div.formu form div.tit {
    width: 100%;
    margin: 5px 0;
    color: #f04652;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px
}

div.formu form input,div.formu form textarea {
    width: 96%;
    max-width: 96%;
    margin: 5px 0;
    padding: 10px;
    color: #9f9f9f;
    font-weight: 200;
    font-size: 20px;
    background-color: #000;
    border: 0;
    font-family: 'Exo 2',Arial,sans-serif
}

div.formu form textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #fff;
    height: 150px
}

div.formu form button {
    background-color: #f04652;
    border: 1px solid #000;
    padding: 8px 19px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Exo 2',Arial,sans-serif;
    text-transform: uppercase
}

div.contenedor section#contacto div#contra {
    width: 28%;
    height: 290px;
    padding: 6px 0;
    position: absolute;
    bottom: 160px;
    left: 35px;
    background-color: rgba(0,0,0,.49);
    border: 1px solid #000
}

div.contenedor section#contacto div#contra div.titu {
    margin: 0 4px;
    font-size: 17px;
    color: #e7e7e7;
    background-color: #000;
    width: 90%;
    padding: 10px 10px;
    text-transform: uppercase;
    border-bottom: 1px dashed #424242
}

div.contenedor section#contacto div#contra div.caja div.txts {
    margin-left: 12px;
    font-size: 14px;
    width: 90%;
    margin-top: 10px;
    float: left
}

div.contenedor section#contacto div#contra div.caja div.txts span {
    color: #cf3e48;
    font-weight: 700
}

div.contenedor section#contacto div#contra div.caja div.txts a {
    color: #a2a2a2
}

div.contenedor section#contacto div#contra div.caja img {
    float: left;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #1e1e1e
}

footer {
    width: 100%;
    padding: 10px 0;
    color: #5a5a5a;
    text-align: center;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #000;
    margin-top: 2px;
    position: relative
}

footer div.creditos {
    position: absolute;
    top: 4px;
    right: 0;
    margin-right: 15px;
    padding: 6px 7px;
    border-radius: 3px;
    cursor: pointer
}

footer div.creditos:hover {
    background-color: #181818
}

footer div.credPop {
    position: absolute;
    bottom: 45px;
    right: 15px;
    padding: 20px;
    border-radius: 3px;
    color: #606060;
    background-color: #191919;
    font-size: 12px;
    font-family: Arial,helvetica,sans-serif;
    text-align: left;
    display: none
}

footer div.credPop div.categoria {
    font-weight: 700;
    margin: 5px 0;
    color: #adadad
}

footer div.credPop div.persona {
    margin: 2px 0
}

footer div.credPop div.persona a {
    color: #606060
}

footer div.credPop div.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #191919;
    position: absolute;
    bottom: -10px;
    right: 15px
}

@media only screen and (max-width: 1180px) {
    .btnYoutube {
        display:none
    }

    div.contenedor header nav ul li {
        padding: 13px 15px;
        letter-spacing: -1px
    }

    div.contenedor div.banner div.img {
        height: 300px
    }
}

@media only screen and (max-width: 940px) {
    div.contenedor header nav ul li {
        line-height:1.6;
        padding: 13px 8px
    }

    div.contenedor section#intro,div.contenedor section#intro div.slide,div.contenedor section#intro div.slide div.conte,div.contenedor section#intro div.slide div.conte div#intro0,div.contenedor section#intro div.slide div.conte div#intro1,div.contenedor section#intro div.slide div.conte div#intro10,div.contenedor section#intro div.slide div.conte div#intro2,div.contenedor section#intro div.slide div.conte div#intro3,div.contenedor section#intro div.slide div.conte div#intro4,div.contenedor section#intro div.slide div.conte div#intro5,div.contenedor section#intro div.slide div.conte div#intro6,div.contenedor section#intro div.slide div.conte div#intro7,div.contenedor section#intro div.slide div.conte div#intro8,div.contenedor section#intro div.slide div.conte div#intro9 {
        height: 500px!important
    }

    div.contenedor section#fechas div.proxima a.entrada {
        width: 85px;
        margin: 20px 10px;
        font-size: 14px;
        padding: 15px 28px;
        font-weight: 400;
        background-size: 260px;
        background-position: 90px -153px
    }

    div.contenedor section#fechas div.proxima div.dia {
        font-size: 26px;
        width: 17%
    }

    div.contenedor section#fechas div.proxima div.dia span {
        font-size: 12px
    }

    div.contenedor section#intro div.slide div.conte div.fuente {
        top: 460px
    }

    div.contenedor section#fotos div.galeria figure {
        width: 32.2%!important
    }

    h2 {
        margin: 35px 47px
    }

    div.contenedor section#contacto {
        background-size: 126%;
        background-position: 0 -3px
    }

    div.contenedor section#contacto div#contra {
        width: 34%;
        height: 320px;
        bottom: 70px;
        left: 19px
    }

    div.contenedor section#contacto iframe {
        width: 50%;
        top: 87px;
        right: 25px
    }

    div.contenedor header div.redes {
        display: none
    }

    div.contenedor div.banner div.img {
        height: 280px
    }
}

@media only screen and (max-width: 760px) {
    h1 {
        margin:0 3%
    }

    div.contenedor div.banner {
        margin-top: 51px
    }

    div.contenedor header div.logo {
        width: 100%;
        height: 50px;
        background: url(../imgs/sprite4.svg);
        background-size: 195px;
        background-position: -19px 5px;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,.95);
        position: fixed
    }

    div.contenedor header nav {
        width: 100%;
        left: -5px;
        position: fixed;
        bottom: -500px;
        z-index: 10000;
        border: 1px solid #000;
        background-color: #000;
        color: #cacaca
    }

    div.contenedor div.banner div.img {
        height: 210px
    }

    div.contenedor header a {
        right: 10px
    }

    div.contenedor header nav ul li {
        width: 92%;
        padding: 11px 17px;
        border-bottom: 1px solid #343434;
        border-left: 0;
        text-align: right
    }

    div.contenedor ul li.tienda {
        width: 90%
    }

    div.contenedor section#intro {
        margin-top: 0!important
    }

    div.contenedor section#intro div.control {
        top: 40%
    }

    div.contenedor section#intro div.control#ant {
        left: -5px
    }

    div.contenedor section#intro div.control#sig {
        right: -5px
    }

    div.contenedor section#intro,div.contenedor section#intro div.slide,div.contenedor section#intro div.slide div.conte,div.contenedor section#intro div.slide div.conte div#intro0,div.contenedor section#intro div.slide div.conte div#intro1,div.contenedor section#intro div.slide div.conte div#intro10,div.contenedor section#intro div.slide div.conte div#intro2,div.contenedor section#intro div.slide div.conte div#intro3,div.contenedor section#intro div.slide div.conte div#intro4,div.contenedor section#intro div.slide div.conte div#intro5,div.contenedor section#intro div.slide div.conte div#intro6,div.contenedor section#intro div.slide div.conte div#intro7,div.contenedor section#intro div.slide div.conte div#intro8,div.contenedor section#intro div.slide div.conte div#intro9 {
        height: 250px!important
    }

    div.contenedor section#intro div.slide div.conte div.fuente {
        top: 215px
    }

    div.contenedor section#fechas {
        padding: 0 0;
        height: 850px;
        background-size: 160%;
        background-position: -90px 0
    }

    div.contenedor section#fechas div.proxima {
        width: 91%;
        margin: 20px auto;
        margin-bottom: 0;
        float: none;
        position: relative;
        height: 420px
    }

    div.contenedor section#fechas div.proxima div.titu {
        width: 80px;
        margin: 15px;
        background-size: 360px;
        background-position: -291px -109px;
        font-size: 15px;
        color: #cacaca
    }

    div.contenedor section#fechas div.proxima a.entrada {
        margin-left: 0;
        font-size: 15px;
        padding: 15px 25px;
        margin: 10px 15px;
        background-size: 270px;
        background-position: 90px -159px
    }

    div.contenedor section#fechas div.proxima div.dia {
        margin: 5px 10px;
        width: 60px;
        line-height: .8;
        position: absolute;
        top: 6px;
        left: 81px;
        font-size: 21px
    }

    div.contenedor section#fechas div.proxima div.detalles {
        width: 88%;
        min-height: 89px;
        margin: 10px 6px;
        border-top: 1px solid #8a3b41
    }

    div.contenedor section#fechas div.proxima div#map {
        width: 94%;
        height: 190px;
        margin: 10px 2%;
        margin-top: 10px
    }

    div.contenedor section#fechas div.listaFe {
        width: 90%;
        height: 350px;
        margin: 20px auto;
        float: none;
        margin-top: 2px
    }

    div.contenedor section#fechas div.listaFe div.fecDia {
        padding: 9px 5px
    }

    div.contenedor section#fechas div.listaFe div.textos {
        width: 62%;
        margin-left: 93px
    }

    div.contenedor section#fechas div.listaFe div.textos div.desc {
        width: 100%
    }

    div.contenedor section#fechas div.listaFe div.fec {
        min-height: 120px
    }

    div.contenedor section#fechas div.listaFe div.textos a.entra {
        width: 70px;
        height: 58px;
        font-size: 14px;
        background-color: #151515;
        background-image: url(../imgs/sprite4.svg);
        background-repeat: no-repeat;
        background-size: 490px;
        background-position: -74px -205px;
        position: absolute;
        top: 73px;
        left: 10px;
        border: 1px solid #363636
    }

    div.contenedor section#videos {
        width: 100%;
        height: 430px;
        margin: 10px auto;
        padding: 10px 0;
        border-radius: 1px
    }

    div.contenedor section#videos div.player {
        width: 90%;
        height: auto;
        float: none;
        padding: 20px 1%;
        background-color: #000;
        border-top: 1px solid #73252b;
        border-radius: 0
    }

    div.contenedor section#videos div.player div.video-js {
        height: 180px!important
    }

    div.contenedor section#videos div.listado {
        width: 90%;
        margin: 0 4%;
        height: 145px
    }

    .vjs-default-skin .vjs-menu-button {
        display: none
    }

    div.contenedor header div.redes {
        display: flex;
        text-align: right
    }

    div.contenedor section#fotos {
        height: 470px
    }

    .select2-container,div.contenedor section#fotos div.conteSelect {
        width: 130%;
        top: 27px;
        left: 6px;
        font-size: 15px
    }

    div.contenedor section#fotos div.conteSelect select {
        width: 120%!important
    }

    div.contenedor section#fotos div.autor {
        width: 80%;
        top: 103px;
        left: 12px;
        font-size: 12px
    }

    div.contenedor section#fotos div.galeria {
        width: 85%;
        margin: 0 6%;
        height: 500px;
        margin-top: 75px
    }

    div.contenedor section#fotos div.galeria {
        height: 350px
    }

    div.contenedor section#fotos div.galeria figure {
        width: 47.1%!important
    }

    div.contenedor section#informacion {
        min-height: 0;
        height: 350px
    }

    div.contenedor section#informacion div.tablero div.info {
        width: 90%;
        margin: 5px 3%
    }

    div.contenedor section#informacion div.tablero div.pop div.contenidos {
        max-height: 300px
    }

    div.contenedor section#informacion div.tablero div.pop div.detalles {
        width: 90%!important
    }

    div.contenedor section#informacion div.tablero div.pop div.contenidos iframe {
        display: none!important
    }

    div.contenedor section#discos {
        width: 100%;
        height: 750px;
        padding: 30px 0
    }

    div.contenedor section#discos div.disco div.imagen {
        width: 95%;
        margin-top: -20px;
        text-align: center
    }

    div.contenedor section#discos div.disco div.imagen img {
        margin: 30px auto;
        margin-bottom: 0;
        max-width: 250px
    }

    div.contenedor section#discos div.disco div.datos {
        width: 98%
    }

    div.contenedor section#discos div.disco div.datos div.textos div.temas {
        width: 100%;
        height: 290px
    }

    div.contenedor section#discos div.disco div.datos div.textos div.temas div.tema {
        font-size: 14px
    }

    div.contenedor section#discos div.disco div.datos div.textos div.letra {
        width: 93%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        display: none;
        padding: 10%;
        padding-right: 0
    }

    div.contenedor section#discos div.disco div.datos div.ficha {
        max-height: 320px
    }

    div.contenedor section#contacto {
        height: 760px;
        background-size: 400%;
        background-position: -210px 2px
    }

    h2 {
        margin: 7px 12px;
        font-size: 18px
    }

    div.contenedor section#contacto iframe {
        width: 88%;
        top: 117px;
        right: 5%;
        border-radius: 3px;
        height: 290px;
        border: 1px solid #000
    }

    div.contenedor section#contacto div#contra {
        width: 91%;
        height: 320px;
        bottom: 10px;
        left: 4%;
        border: 1px solid #4c0e13
    }

    footer div.creditos {
        display: none
    }

    .btnYoutube {
        display: none
    }

    .vjs-default-skin .vjs-big-play-button:focus,.vjs-default-skin:hover .vjs-big-play-button {
        border-color: #ef4653!important
    }
}

@media only screen and (max-width: 460px) {
    div.contenedor div.banner div.img img {
        width:80%
    }

    .face {
        display: none!important
    }

    div.contenedor div.banner div.img.desktop {
        display: none
    }

    div.contenedor div.banner div.img.mobile {
        display: block;
        text-align: center
    }
}
